*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: calc(100vh - 100px);
}

.sinistra{
    height: 100%;
    width: 15%;
    background-color: black;
    padding: 16px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sinistra a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}

/*fine aside*/

.destra{
    height: 100%;
    width: 85%;
    background-color: yellow;
    padding: 10px 30px 0 30px;
    float: right;
    text-align: center;
}

.destra ul,
.destra li{
    display: inline-block;
    text-transform: uppercase;
}

.destra a{
    list-style-type: none;
    text-decoration: none;
    padding: 5px;
    color: #b3b3b3;
}

.album{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.brano img{
    max-width: 100px;
    max-height: 100px;
}
/*fine section*/

.dimensioni{
    height: 100px;
    width: 100vw;
    background-color: blue;
    display: flex;
    justify-content: space-between;
}

.f-sinistra{
    width: 20%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-sinistra img{
    height: 100%;
    width: 50%;
}

.f-centro{
    background-color: orange;
    flex-grow: 1;
}

.f-destra{
    width: 15%;
    background-color: white;
}
